.loginBtn{
    margin:20px;
    padding:0px 60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:15%;
    width:350px;
    height:400px
}
.thisistheform{
    display:flex;
    flex-direction:column;
    border-radius:15%;
    margin:20px;
    padding:0px 30px;
}
.login-btn{
  cursor:pointer;
  padding:10px 50px;
  width:360px;

  border:none;
    border-radius:5px;
  /* background: lightgray; */

}
.login-btn:hover{
  cursor:pointer;
  /* text-decoration:underline; */
  color:white;
  border:none;
    border-radius:5px;
  background: #FEAC5E;
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);

}
.demo-user{
  cursor:pointer;
  padding:10px 50px;
  width:360px;
  color:white;
  border:none;
    border-radius:5px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

  margin-top:10px;

}
.demo-user:hover{
  background: #C33764;
background: -webkit-linear-gradient(to right, #1D2671, #C33764);
background: linear-gradient(to right, #1D2671, #C33764);
text-decoration:underline;
}
#modal-content{
  border-radius:2%;
}
.thisistheform label{
    display:flex;
    flex-direction:column;
    justify-content: center;

}

.input-field{
margin-bottom:15px;
}
.errors2{
  display: flex;
    align-content: center;
    justify-content: center;
}
