.profile-dropdown {
  position: absolute;
  background-color: #f1f1f1;
    /* right:170px; */
    top:45px;
    padding: 5px;
    display:flex;
    flex-direction:column;
    z-index:1;
    border-radius:10%;
}

.hidden {
  display: none;
}

.logo{
  width:140px;
 height:60px
}

.navLinksCont{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:15px;
  padding:5px;
  border-bottom:1px solid black;
}
.navLinks2{
  cursor:pointer;
  font-size:18px
}
.navLinks2:hover{
text-decoration:underline;
}
.mainNavLineCont2{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin:20px;
  flex-wrap:wrap;
}
.cartInNav{
  display:flex;
  margin-top:5px;
}
.fa-cart-shopping{
  font-size:25px;
}
.cartnNumber{
  color:white;
  background:rgb(38, 183, 227);
  border-radius:100%;
  padding:5px;
  font-size:11px;
  position:relative;
  margin-left:-5px;

}
.content-box{
  display:flex;
  flex-direction:column;
  align-items:center;
  align-content:center;
  justify-content:center;
}
.profile-dropdown div {
  color: black;
  text-decoration: none;
  display: block;
}
.hidden{
  display:none;
}

.fa-user-circle{
  font-size:20px;
}
.holderoffaceicon{
  border:none;
  background:transparent;
cursor:pointer;
}
.buttons-profile{
  cursor:pointer;
  border:none;
  width:90px;
  margin:5px;
}

@media only screen and (max-width: 737px) {
  .profile-dropdown {
    position: absolute;
    background-color: #f1f1f1;
      /* right:170px; */
      top:85px;
      padding: 15px;
      display:flex;
      flex-direction:column;
      /* z-index:1; */
      border-radius:10%;
  }
}
@media only screen and (max-width: 595px) {
  .profile-dropdown {
    position: absolute;
    background-color: #f1f1f1;
      /* right:170px; */
      top:115px;
      padding: 15px;
      display:flex;
      flex-direction:column;
      /* z-index:1; */
      border-radius:10%;
  }
}
