.signUpForm{
    margin:20px;
    padding:50px 60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:440px;
    /* background:black; */
    /* border:1px solid black; */

}
.formforsignup{
    margin:20px;
    /* padding:50px 60px; */
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-field{
   /* align-items:stretch; */
   width: fit-content;
}
.signUpBtn{
    cursor:pointer;
  padding:10px 50px;
  width:360px;

  border:none;
    border-radius:5px;


}
.signUpBtn:hover{
    color:white;
    border:none;
    border-radius:5px;
    background: #FEAC5E;
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}

.formforsignup label{
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* align-items: center; */
}
