.signUpForm{
    margin:20px;
    padding:50px 60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:440px;
    /* background:black; */
    /* border:1px solid black; */

}
.formforsignup{
    margin:20px;
    /* padding:50px 60px; */
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-field{
   /* align-items:stretch; */
   width: fit-content;
}
.signUpBtn{
    /* background:red; */
    padding:5px 20px;
    /* color:white; */
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
/*
  button:disabled {
    background:rgb(228, 225, 225);
} */

.formforsignup label{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
