.holderoftheuniverse2{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .reviewheades3{
    width:960px;
    font-size:22px;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 30px 120px;

  }
  .reviewheades3 span {
    background:#fff;
    padding:0 10px;
  }
  .bookincart2{
    width:500px;
    justify-content: space-between;
    align-items: center;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    border-bottom:1px solid grey;
  }
  .middlest{
    display:flex;
    margin-left: 30px;
    align-items: center;
    /* border-bottom:1px solid black; */
    margin-bottom:10px;
  }

  .possinnermiddle2{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .singularprice2{
    padding:15px 0px;
  }
  .possmiddlepic2{
    padding:20px 0px;
    height:220px;
    width:140px;
    cursor:pointer;
  }
.bookTitleName{
    font-size:21px;
    margin-bottom:20px;
}
.authoorName{
    font-size:16px;
    margin-bottom:10px;
}
.editanddeletecontreview2{
  display:flex;
  padding:0px 50px;
  gap:10px;
  align-items: center;
}
.addtocart2{
  /* background:rgb(23, 98, 227); */
  /* color:white; */
  border:none;
  border-radius:5px;
  padding:5px;
  cursor:pointer;
}
.addtocart2:hover{
  background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor:pointer;
    color:white;
}
.addedtocartmess{
  font-size: 15px;
  display: flex;
  width: 120px;
  align-items: center;
}
